<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="SQLcomplianceAgent.AutoLog" value="True" />
		<add key="SQLcomplianceAgent.CanPauseAndContinue" value="False" />
		<add key="SQLcomplianceAgent.CanStop" value="True" />
		<add key="SQLcomplianceAgent.ServiceName" value="SQLcomplianceAgent" />
	</appSettings>
</configuration>