<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnitTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UnitTest.Properties.Settings>
            <setting name="CwfHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="CwfPort" serializeAs="String">
                <value>9292</value>
            </setting>
            <setting name="CwfUser" serializeAs="String">
                <value>rtdevpc\administrator</value>
            </setting>
            <setting name="CwfPassword" serializeAs="String">
                <value>abc1234567</value>
            </setting>
            <setting name="ProductId" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Days" serializeAs="String">
                <value>7</value>
            </setting>
        </UnitTest.Properties.Settings>
    </userSettings>
</configuration>