<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="AppDefaultEventView" type="Idera.SQLcompliance.Application.GUI.ConfigSectionHandler, SQLcompliance"/>
		<section name="AppDefaultAlertView" type="Idera.SQLcompliance.Application.GUI.ConfigSectionHandler, SQLcompliance"/>
      <section name="AppDefaultDataAlertView" type="Idera.SQLcompliance.Application.GUI.ConfigSectionHandler, SQLcompliance"/>
      <section name="AppDefaultStatusAlertView" type="Idera.SQLcompliance.Application.GUI.ConfigSectionHandler, SQLcompliance"/>
      <section name="AppDefaultChangeLogView" type="Idera.SQLcompliance.Application.GUI.ConfigSectionHandler, SQLcompliance"/>
		<section name="AppDefaultActivityLogView" type="Idera.SQLcompliance.Application.GUI.ConfigSectionHandler, SQLcompliance"/>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Idera.SQLcompliance.Application.GUI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Idera.SQLcompliance.Application.GUI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<Idera.SQLcompliance.Application.GUI.Settings>
   <setting name="CallUpgrade" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DefaultEventView" serializeAs="String">
    <value>Default</value>
   </setting>
   <setting name="DefaultAlertView" serializeAs="String">
    <value>Default</value>
   </setting>
   <setting name="DefaultArchiveView" serializeAs="String">
    <value>Archive</value>
   </setting>
   <setting name="FirstRun" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ViewToolbar" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="EventPageSize" serializeAs="String">
    <value>1000</value>
   </setting>
   <setting name="AlertPageSize" serializeAs="String">
    <value>1000</value>
   </setting>
   <setting name="ShowLocalTime" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LogLevel" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="SqlCommandTimeout" serializeAs="String">
    <value>300</value>
   </setting>
   <setting name="ReportRowCount" serializeAs="String">
    <value>10000</value>
   </setting>
   <setting name="StatusAlertPageSize" serializeAs="String">
    <value>1000</value>
   </setting>
   <setting name="DefaultStatusAlertView" serializeAs="String">
    <value>Default</value>
   </setting>
   <setting name="DataAlertPageSize" serializeAs="String">
    <value>1000</value>
   </setting>
   <setting name="DefaultDataAlertView" serializeAs="String">
    <value>Default</value>
   </setting>
   <setting name="TimeSpan" serializeAs="String">
    <value>1</value>
   </setting>
  </Idera.SQLcompliance.Application.GUI.Settings>
	</userSettings>
	<applicationSettings>
		<Idera.SQLcompliance.Application.GUI.Settings>
   <setting name="AppPlaceholder" serializeAs="String">
    <value />
   </setting>
   <setting name="SQLcompliance_ReportService2005_ReportingService2005"
    serializeAs="String">
    <value>http://localhost/ReportServer/ReportService2005.asmx</value>
   </setting>
  </Idera.SQLcompliance.Application.GUI.Settings>
	</applicationSettings>
	<AppDefaultEventView type="Idera.SQLcompliance.Application.GUI.Helper.EventViewSettings, SQLcompliance">
		<EventViewSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <Name>Default</Name>
      <Filter>
        <DateLimitType>Today</DateLimitType>
        <Days>1</Days>
        <StartDate>2007-03-08T00:00:00-06:00</StartDate>
        <EndDate>2007-03-08T00:00:00-06:00</EndDate>
        <ShowPrivUsersOnly>false</ShowPrivUsersOnly>
        <IsArchiveFilter>false</IsArchiveFilter>
        <EventCategoryId>-1</EventCategoryId>
        <EventTypeId>-1</EventTypeId>
        <ApplicationId xsi:nil="true"/>
        <HostId xsi:nil="true"/>
        <LoginId xsi:nil="true"/>
        <TableId xsi:nil="true"/>
        <ColumnId xsi:nil="true"/>
      </Filter>
      <Columns>
        <GridColumnSettings>
          <Key>Time</Key>
          <VisiblePosition>4</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>false</Descending>
          <SortPosition>-1</SortPosition>
          <ColumnWidth>85</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
        <GridColumnSettings>
          <Key>eventTypeString</Key>
          <VisiblePosition>2</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>false</Descending>
          <SortPosition>-1</SortPosition>
          <ColumnWidth>110</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
        <GridColumnSettings>
          <Key>spid</Key>
          <VisiblePosition>-1</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>false</Descending>
          <SortPosition>-1</SortPosition>
          <ColumnWidth>61</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
        <GridColumnSettings>
          <Key>applicationName</Key>
          <VisiblePosition>-1</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>false</Descending>
          <SortPosition>-1</SortPosition>
          <ColumnWidth>107</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
        <GridColumnSettings>
          <Key>hostName</Key>
          <VisiblePosition>-1</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>false</Descending>
          <SortPosition>-1</SortPosition>
          <ColumnWidth>107</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
        <GridColumnSettings>
          <Key>serverName</Key>
          <VisiblePosition>-1</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>false</Descending>
          <SortPosition>-1</SortPosition>
          <ColumnWidth>107</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
        <GridColumnSettings>
          <Key>loginName</Key>
          <VisiblePosition>5</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>false</Descending>
          <SortPosition>-1</SortPosition>
          <ColumnWidth>128</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
        <GridColumnSettings>
          <Key>success</Key>
          <VisiblePosition>-1</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>false</Descending>
          <SortPosition>-1</SortPosition>
          <ColumnWidth>107</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
        <GridColumnSettings>
          <Key>databaseName</Key>
          <VisiblePosition>6</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>false</Descending>
          <SortPosition>-1</SortPosition>
          <ColumnWidth>106</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
        <GridColumnSettings>
          <Key>dbUserName</Key>
          <VisiblePosition>-1</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>false</Descending>
          <SortPosition>-1</SortPosition>
          <ColumnWidth>107</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
        <GridColumnSettings>
          <Key>objectName</Key>
          <VisiblePosition>-1</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>false</Descending>
          <SortPosition>-1</SortPosition>
          <ColumnWidth>107</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
        <GridColumnSettings>
          <Key>targetLoginName</Key>
          <VisiblePosition>-1</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>false</Descending>
          <SortPosition>-1</SortPosition>
          <ColumnWidth>107</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
        <GridColumnSettings>
          <Key>targetUserName</Key>
          <VisiblePosition>-1</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>false</Descending>
          <SortPosition>-1</SortPosition>
          <ColumnWidth>107</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
        <GridColumnSettings>
          <Key>roleName</Key>
          <VisiblePosition>-1</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>false</Descending>
          <SortPosition>-1</SortPosition>
          <ColumnWidth>107</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
        <GridColumnSettings>
          <Key>ownerName</Key>
          <VisiblePosition>-1</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>false</Descending>
          <SortPosition>-1</SortPosition>
          <ColumnWidth>107</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
        <GridColumnSettings>
          <Key>targetObject</Key>
          <VisiblePosition>7</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>false</Descending>
          <SortPosition>-1</SortPosition>
          <ColumnWidth>108</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
        <GridColumnSettings>
          <Key>details</Key>
          <VisiblePosition>8</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>false</Descending>
          <SortPosition>-1</SortPosition>
          <ColumnWidth>135</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
        <GridColumnSettings>
          <Key>eventCategoryString</Key>
          <VisiblePosition>1</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>false</Descending>
          <SortPosition>-1</SortPosition>
          <ColumnWidth>81</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
        <GridColumnSettings>
          <Key>privilegedUser</Key>
          <VisiblePosition>-1</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>false</Descending>
          <SortPosition>-1</SortPosition>
          <ColumnWidth>100</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
        <GridColumnSettings>
          <Key>sessionLoginName</Key>
          <VisiblePosition>-1</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>false</Descending>
          <SortPosition>-1</SortPosition>
          <ColumnWidth>107</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
        <GridColumnSettings>
          <Key>icon</Key>
          <VisiblePosition>0</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>false</Descending>
          <SortPosition>-1</SortPosition>
          <ColumnWidth>22</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
        <GridColumnSettings>
          <Key>Date</Key>
          <VisiblePosition>3</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>false</Descending>
          <SortPosition>-1</SortPosition>
          <ColumnWidth>77</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
      </Columns>
      <ShowGroupBy>false</ShowGroupBy>
    </EventViewSettings>
  </AppDefaultEventView>
	<AppDefaultAlertView type="Idera.SQLcompliance.Application.GUI.Helper.AlertViewSettings, SQLcompliance">
    <AlertViewSettings>
      <Filter>
        <SelectionType>SelectPastDays</SelectionType>
        <Days>7</Days>
        <StartDate>2007-03-20T10:46:39.8686784-05:00</StartDate>
        <EndDate>2007-03-27T10:46:39.8686784-05:00</EndDate>
        <UseType>false</UseType>
        <AlertType>SqlServer</AlertType>
        <UseLevel>false</UseLevel>
        <AlertLevel>High</AlertLevel>
      </Filter>
      <Columns>
        <GridColumnSettings>
          <Key>instance</Key>
          <VisiblePosition>6</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>false</Descending>
          <SortPosition>-1</SortPosition>
          <ColumnWidth>193</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
        <GridColumnSettings>
          <Key>eventTypeString</Key>
          <VisiblePosition>5</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>false</Descending>
          <SortPosition>-1</SortPosition>
          <ColumnWidth>140</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
        <GridColumnSettings>
          <Key>Date</Key>
          <VisiblePosition>1</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>true</Descending>
          <SortPosition>0</SortPosition>
          <ColumnWidth>88</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
        <GridColumnSettings>
          <Key>alertLevelString</Key>
          <VisiblePosition>3</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>false</Descending>
          <SortPosition>-1</SortPosition>
          <ColumnWidth>62</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
        <GridColumnSettings>
          <Key>messageSubject</Key>
          <VisiblePosition>-1</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>false</Descending>
          <SortPosition>-1</SortPosition>
          <ColumnWidth>107</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
        <GridColumnSettings>
          <Key>messageBody</Key>
          <VisiblePosition>-1</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>false</Descending>
          <SortPosition>-1</SortPosition>
          <ColumnWidth>107</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
        <GridColumnSettings>
          <Key>ruleName</Key>
          <VisiblePosition>4</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>false</Descending>
          <SortPosition>-1</SortPosition>
          <ColumnWidth>157</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
        <GridColumnSettings>
          <Key>icon</Key>
          <VisiblePosition>0</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>false</Descending>
          <SortPosition>-1</SortPosition>
          <ColumnWidth>23</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
        <GridColumnSettings>
          <Key>Time</Key>
          <VisiblePosition>2</VisiblePosition>
          <GroupBy>false</GroupBy>
          <Descending>false</Descending>
          <SortPosition>-1</SortPosition>
          <ColumnWidth>96</ColumnWidth>
          <Band>0</Band>
        </GridColumnSettings>
      </Columns>
      <Name>Default</Name>
      <ShowGroupBy>false</ShowGroupBy>
    </AlertViewSettings>
  </AppDefaultAlertView>
   <AppDefaultDataAlertView type="Idera.SQLcompliance.Application.GUI.Helper.DataAlertViewSettings, SQLcompliance">
      <DataAlertViewSettings>
         <Filter>
            <SelectionType>SelectPastDays</SelectionType>
            <Days>7</Days>
            <StartDate>2007-03-20T10:46:39.8686784-05:00</StartDate>
            <EndDate>2007-03-27T10:46:39.8686784-05:00</EndDate>
            <UseType>false</UseType>
            <AlertType>SqlServer</AlertType>
            <UseLevel>false</UseLevel>
            <AlertLevel>High</AlertLevel>
         </Filter>
         <Columns>
            <GridColumnSettings>
               <Key>instance</Key>
               <VisiblePosition>6</VisiblePosition>
               <GroupBy>false</GroupBy>
               <Descending>false</Descending>
               <SortPosition>-1</SortPosition>
               <ColumnWidth>193</ColumnWidth>
               <Band>0</Band>
            </GridColumnSettings>
            <GridColumnSettings>
               <Key>eventTypeString</Key>
               <VisiblePosition>5</VisiblePosition>
               <GroupBy>false</GroupBy>
               <Descending>false</Descending>
               <SortPosition>-1</SortPosition>
               <ColumnWidth>140</ColumnWidth>
               <Band>0</Band>
            </GridColumnSettings>
            <GridColumnSettings>
               <Key>Date</Key>
               <VisiblePosition>1</VisiblePosition>
               <GroupBy>false</GroupBy>
               <Descending>true</Descending>
               <SortPosition>0</SortPosition>
               <ColumnWidth>88</ColumnWidth>
               <Band>0</Band>
            </GridColumnSettings>
            <GridColumnSettings>
               <Key>alertLevelString</Key>
               <VisiblePosition>3</VisiblePosition>
               <GroupBy>false</GroupBy>
               <Descending>false</Descending>
               <SortPosition>-1</SortPosition>
               <ColumnWidth>62</ColumnWidth>
               <Band>0</Band>
            </GridColumnSettings>
            <GridColumnSettings>
               <Key>messageSubject</Key>
               <VisiblePosition>-1</VisiblePosition>
               <GroupBy>false</GroupBy>
               <Descending>false</Descending>
               <SortPosition>-1</SortPosition>
               <ColumnWidth>107</ColumnWidth>
               <Band>0</Band>
            </GridColumnSettings>
            <GridColumnSettings>
               <Key>messageBody</Key>
               <VisiblePosition>-1</VisiblePosition>
               <GroupBy>false</GroupBy>
               <Descending>false</Descending>
               <SortPosition>-1</SortPosition>
               <ColumnWidth>107</ColumnWidth>
               <Band>0</Band>
            </GridColumnSettings>
            <GridColumnSettings>
               <Key>ruleName</Key>
               <VisiblePosition>4</VisiblePosition>
               <GroupBy>false</GroupBy>
               <Descending>false</Descending>
               <SortPosition>-1</SortPosition>
               <ColumnWidth>157</ColumnWidth>
               <Band>0</Band>
            </GridColumnSettings>
            <GridColumnSettings>
               <Key>icon</Key>
               <VisiblePosition>0</VisiblePosition>
               <GroupBy>false</GroupBy>
               <Descending>false</Descending>
               <SortPosition>-1</SortPosition>
               <ColumnWidth>23</ColumnWidth>
               <Band>0</Band>
            </GridColumnSettings>
            <GridColumnSettings>
               <Key>Time</Key>
               <VisiblePosition>2</VisiblePosition>
               <GroupBy>false</GroupBy>
               <Descending>false</Descending>
               <SortPosition>-1</SortPosition>
               <ColumnWidth>96</ColumnWidth>
               <Band>0</Band>
            </GridColumnSettings>
         </Columns>
         <Name>Default</Name>
         <ShowGroupBy>false</ShowGroupBy>
      </DataAlertViewSettings>
   </AppDefaultDataAlertView>   
   <AppDefaultStatusAlertView type="Idera.SQLcompliance.Application.GUI.Helper.StatusAlertViewSettings, SQLcompliance">
      <StatusAlertViewSettings>
         <Filter>
            <SelectionType>SelectPastDays</SelectionType>
            <Days>7</Days>
            <StartDate>2007-03-20T10:46:39.8686784-05:00</StartDate>
            <EndDate>2007-03-27T10:46:39.8686784-05:00</EndDate>
            <UseType>false</UseType>
            <AlertType>SqlServer</AlertType>
            <UseLevel>false</UseLevel>
            <AlertLevel>High</AlertLevel>
         </Filter>
         <Columns>
            <GridColumnSettings>
               <Key>Date</Key>
               <VisiblePosition>1</VisiblePosition>
               <GroupBy>false</GroupBy>
               <Descending>true</Descending>
               <SortPosition>0</SortPosition>
               <ColumnWidth>88</ColumnWidth>
               <Band>0</Band>
            </GridColumnSettings>
            <GridColumnSettings>
               <Key>alertLevelString</Key>
               <VisiblePosition>3</VisiblePosition>
               <GroupBy>false</GroupBy>
               <Descending>false</Descending>
               <SortPosition>-1</SortPosition>
               <ColumnWidth>62</ColumnWidth>
               <Band>0</Band>
            </GridColumnSettings>
            <GridColumnSettings>
               <Key>messageSubject</Key>
               <VisiblePosition>-1</VisiblePosition>
               <GroupBy>false</GroupBy>
               <Descending>false</Descending>
               <SortPosition>-1</SortPosition>
               <ColumnWidth>107</ColumnWidth>
               <Band>0</Band>
            </GridColumnSettings>
            <GridColumnSettings>
               <Key>messageBody</Key>
               <VisiblePosition>-1</VisiblePosition>
               <GroupBy>false</GroupBy>
               <Descending>false</Descending>
               <SortPosition>-1</SortPosition>
               <ColumnWidth>107</ColumnWidth>
               <Band>0</Band>
            </GridColumnSettings>
            <GridColumnSettings>
               <Key>ruleName</Key>
               <VisiblePosition>4</VisiblePosition>
               <GroupBy>false</GroupBy>
               <Descending>false</Descending>
               <SortPosition>-1</SortPosition>
               <ColumnWidth>157</ColumnWidth>
               <Band>0</Band>
            </GridColumnSettings>
            <GridColumnSettings>
               <Key>icon</Key>
               <VisiblePosition>0</VisiblePosition>
               <GroupBy>false</GroupBy>
               <Descending>false</Descending>
               <SortPosition>-1</SortPosition>
               <ColumnWidth>23</ColumnWidth>
               <Band>0</Band>
            </GridColumnSettings>
            <GridColumnSettings>
               <Key>Time</Key>
               <VisiblePosition>2</VisiblePosition>
               <GroupBy>false</GroupBy>
               <Descending>false</Descending>
               <SortPosition>-1</SortPosition>
               <ColumnWidth>96</ColumnWidth>
               <Band>0</Band>
            </GridColumnSettings>
         </Columns>
         <Name>Default</Name>
         <ShowGroupBy>false</ShowGroupBy>
      </StatusAlertViewSettings>
   </AppDefaultStatusAlertView>
   <AppDefaultChangeLogView type="Idera.SQLcompliance.Application.GUI.Helper.ChangeLogViewSettings, SQLcompliance">
		<ChangeLogViewSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<Name>Default</Name>
			<Filter>
				<DateLimitType>NumberDays</DateLimitType>
				<Days>30</Days>
				<StartDate>2007-03-08T00:00:00-06:00</StartDate>
				<EndDate>2007-03-08T00:00:00-06:00</EndDate>
				<EventTypeId>-1</EventTypeId>
			</Filter>
			<Columns/>
			<ShowGroupBy>false</ShowGroupBy>
		</ChangeLogViewSettings>
	</AppDefaultChangeLogView>
	<AppDefaultActivityLogView type="Idera.SQLcompliance.Application.GUI.Helper.ActivityLogViewSettings, SQLcompliance">
		<ActivityLogViewSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<Name>Default</Name>
			<Filter>
				<DateLimitType>NumberDays</DateLimitType>
				<Days>30</Days>
				<StartDate>2007-03-08T00:00:00-06:00</StartDate>
				<EndDate>2007-03-08T00:00:00-06:00</EndDate>
				<EventTypeId>-1</EventTypeId>
			</Filter>
			<Columns/>
			<ShowGroupBy>false</ShowGroupBy>
		</ActivityLogViewSettings>
	</AppDefaultActivityLogView>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v2.0"/>
    <supportedRuntime version="v4.0"/>
  </startup>
  <runtime>
    <NetFx40_LegacySecurityPolicy enabled="true"/>
  </runtime>
</configuration>
