<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SQLcomplianceCwfAddin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SQLcomplianceCwfAddin.Properties.Settings>
            <setting name="ProductInstance" serializeAs="String">
                <value>SqlComplianceManagerInstance</value>
            </setting>
            <setting name="ProductId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsRegistered" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RepositoryServer" serializeAs="String">
                <value>RUBALWALIA-PC\SQL2012</value>
            </setting>
            <setting name="Repository" serializeAs="String">
                <value>IderaDashboardRepository</value>
            </setting>
        </SQLcomplianceCwfAddin.Properties.Settings>
    </userSettings>
</configuration>